
html {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh;
  background-color: #F5F7F8;
}

.video-section {
  text-align: center;
  position: relative;
}

.oncamera {
  display: flex;
  justify-content: center; /* Keep items centered horizontally */
  align-items: center;
}

.later-button {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
}

button {
  background-color: #49AD37;
  border: none;
  color: white; 
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

#turnOffCameraBtn {
  background-color: #ff4453;
  color: white; 
}

#videoFeed{
  max-width: 80%;
  max-height: 80%;
  border-radius: 50px;
}


#imagePreview{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: auto; */
  /* max-width: 10px; */
  margin: auto;
  /* margin-bottom: 20px; */
  
}

/* p {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */


#earth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  
}


h1 {
  margin-bottom: 20px;
}

.loading{
  display: none; /* Change display to flex */
  justify-content: center;
  align-items: center;
  /* position: fixed;
  top: 0;
  left: 0; */
  z-index: 1;
 
  width: 80vw;
  height: 80vh;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: auto;
  margin: auto;
  text-align: center;
  border-radius: 50px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  /* z-index: 1; */
  /* display: none;  */
}

.loading img{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#result {
  margin-top: 10px;
  color: white;
  
  font-size: 36px;
  font-weight: bold;
}


.result-section {
  display: none; /* Change display to flex */
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
 
  width: 80vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding: auto;
  text-align: center;
  border-radius: 50px;

  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1;
  display: none; /* Initially hide the popup */
}

.centered, .result-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.imageResult{
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
}

/* Close button */
.close {
  /* color: #49AD37;
  position: absolute;
  top: 10px;
  right: 20px;
  float: right;
  font-size: 30px;
  font-weight: bold; */
  /* margin-right: 5px; */
  background-color: white;
  border: none;
  color: #49AD37; 
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}